body{
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    color: white;
    font-size: 30px;
   
    
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
.firstparagraph{
    text-align: center;
    color: rgb(213, 209, 209);

}
.secondparagraph{
    text-align: center;
    color: gray;
}
.bottom-margin{
    padding-bottom: 0;
}
.top-margin{
    padding-top: 60px;
}
.background-image{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 600px;
}
.button{
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    background: linear-gradient(to right, #ff9966 0%, #ff0000 100%);
    border-radius: 5px;
    font-weight: 700;
    margin-left: 550px;
    
}
.flexible-container{
    display: flex;
    margin-left: 420px;
}
.div1 {
    width: 80px;
  height: 60px;
  border-style: none;
  box-sizing: border-box;
  text-align:center;
  padding-top: 25px;
  background-color: rgb(246, 241, 241);
  margin-right: 10px;
  color:rgb(186, 179, 179) ;
  }
  .div2 {
    width: 80px;
  height: 60px;
  border: 1px solid red;
  box-sizing: border-box;
  text-align:center;
  padding-top: 25px;
  background-color: rgb(236, 188, 188);
  margin-right: 10px;
  color: red;
  }
  .bottom-border{
    border-bottom: 1px solid rgb(186, 179, 179);
    width: 450px;
    text-align: center;
    margin-top: 40px;
    margin-left: 420px;
    color:rgb(186, 179, 179) ;
  }
  .button-margin-top{
    margin-top: 20px;
  }
  