body{
    font-family: 'Kantumruy Pro', sans-serif;

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0;
    
   
    
}
.second-section-h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
.firstparagraph{
    text-align: center;
    color: rgb(226, 216, 216);
    margin: 0;
    font-weight: 100;

}
.first-para-margin{
    margin-top: 30px;
}
.secondparagraph{
    text-align: center;
    color: gray;
}
.bottom-margin{
    padding-bottom: 0;
}
.top-margin{
    padding-top: 100px;
}
.background-image{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-page{
    height: 500px;
}
.button{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(to right, #ff9966 0%, #ff0000 100%);
    border-radius: 5px;
    font-weight: 700;
    margin-left: 550px;
    
}
.button-subscribe{
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    background: linear-gradient(to right, #ff9966 0%, #ff0000 100%);
    border-radius: 5px;
    font-weight: 700;
    
}
.flexible-container{
    display: flex;
    margin-left: 380px;
    margin-top: 60px;
    margin-bottom: 70px;
}
.div1 {
    width: 100px;
  height: 80px;
  border-style: none;
  box-sizing: border-box;
  text-align:center;
  padding-top: 25px;
  background-color: rgb(246, 241, 241);
  margin-right: 10px;
  color:rgb(186, 179, 179) ;
  border-radius: 5px;
  }
  .div2 {
    width: 100px;
  height: 80px;
  border: 2px solid red;
  box-sizing: border-box;
  text-align:center;
  padding-top: 25px;
  background-color: rgb(236, 188, 188);
  margin-right: 10px;
  color: red;
  border-radius: 5px;
  }
  .bottom-border{
    border-bottom: 1px solid rgb(186, 179, 179);
    width: 450px;
    text-align: center;
    margin-top: 40px;
    margin-left: 420px;
    color:rgb(186, 179, 179) ;
    
  }
  .button-margin-top{
    margin-top: 30px;
  }
  .third-section-heading{
    text-align: center;
    font-size: 40px;
  }
  .flexible-container2{
    display: flex;
    margin-top: 40px;
    margin-left: 190px;
  }
  .section-heading{
    padding-top: 60px;
  }
  .divbox1{
    width: 320px;
  height: 300px;
  border-style: none;
  box-sizing: border-box;
  background-color: rgb(210, 224, 215);
  margin-right: 10px;
  border-radius: 5px;
  padding: 20px;
  
  }
  .divbox2{
    width: 320px;
  height: 300px;
  border-style: none;
  box-sizing: border-box;
  background-color: rgb(236, 188, 188);
  margin-right: 10px;
  border-radius: 5px;
  padding: 20px;
  }
  .divbox3{
    width: 320px;
  height: 300px;
  border-style: none;
  box-sizing: border-box;
  background-color: rgb(225, 225, 150);
  border-radius: 5px;
  padding: 20px;
  }
  .boxpara {
    text-align: justify;
    color: gray;
    font-size: 15px;
     
  }
  .boxheading{
    text-align: left;

  }
  
  .footer-container{
    text-align: center;
    background-color: black;
    color: white;
    height: 125px;
    margin-top: 60px;
    
  }
  #footer-heading{
    padding-top: 25px;
    color: tomato;
   
  }
  .input1 {
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(186, 179, 179);
  }
  .input2{
    outline: 0;
  }
  .input:focus {
    border-color: green
  }
  .center {
    margin-left: 400px;
    
  }
  .form-container{
    width: 400px;
    background-color: #fed577;
    /* background-color: #ff9966; */
    margin-left: 400px;
    padding: 50px;
    margin-top: 40px;
  }
  .mail-margin{
    margin-left: 50px;
    padding: 6px;
  }
  #children-heading{
    color: black;
    text-align: left;
  }
  .children{
    margin-left: 100px;
  }
  .paragraph{
    margin: 0;
    color: gray;
  }